.blue {
   color: #2F4F4F;
}

.font-family-bestial {
   font-family: 'Bree Serif',
      serif;
}

.title_navbar {
   margin-right: 7px;
   margin-top: -2px;
}

.img-carousel {
   width: 100%;
}


.bg-red {
   background-color: #121315;
   color: #D1C9B7;
}

.bg-blue {
   background-color: blue;
}

.espacamento-linha {
   margin-bottom: 25px;
}

.centrar {
   margin: 20px auto;
   text-align: center;
}