.blue {
   color: #2F4F4F;
}

.video {
   margin: -550px 100px 100px 650px;
}

.font-family-bestial {
   font-family: 'Bree Serif',
      serif;
}

.title_navbar {
   margin-right: 7px;
   margin-top: -2px;
}

.ft {
   margin-top: 20px;
   margin-left: -170px;
}

.h1 {
   color: #CEC45D;
}

.h4 {
   color: #CEC45D;
   margin: 0px 0px 0px 40px;
}

.no {
   margin: 0px 0px 0px 24px;
}

.ni {
   margin: 40px;
}

.img-carousel {
   width: 100%;
}

.op {
   color: black;
}

.bg-red {
   background-color: #121315;
   color: #D1C9B7;
}

.bg-blue {
   background-color: blue;
}

.espacamento-linha {
   margin-bottom: 25px;
}

.centrar {
   margin: 20px auto;
   text-align: center;
}

.txt {
   font-size: large;
}

.txt1 {
   font-size: 23px;
   color: dimgray;
}