.blue {
    color: #2F4F4F;
}
 
 .font-family-bestial {
    font-family: 'Bree Serif',
    serif;
 }

 .title_navbar{
    margin-right: 7px;
    margin-top: -2px;
 }

 .img-carousel{
     width: 100%;
 }


 .bg-red{
    background-color: red;
 }

 .bg-blue{
    background-color: blue;
 }

 .espacamento-linha{
     margin-bottom: 25px;
 }